
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div>
        <div class="card flex justify-content-center">
            <p-password [(ngModel)]="value" promptLabel="Choose a password" weakLabel="Too simple" mediumLabel="Average complexity" strongLabel="Complex password"></p-password>
        </div>
      <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  